.custom-backtop {
  width: 40px !important;
  height: 40px !important;
  border-radius: 8px !important;
  background-color: #174143 !important;
  color: #fff !important;
  transition: 0.3s;
  border: none !important;
}

/* Hover */
.custom-backtop:hover {
  background-color: #174143 !important;
  color: #fff !important;
}

/* Click */
.custom-backtop:active {
  background-color: #174143 !important;
  color: #fff !important;
  transform: scale(0.95);
}

/*IMPORTANT: Fix Ant blue flash */
.custom-backtop:focus,
.custom-backtop:focus-visible {
  background-color: #174143 !important;
  color: #fff !important;
  box-shadow: none !important;
  outline: none !important;
}