
/* wrapper */
.slider-wrapper {
  position: relative;
  /* padding-bottom: 70px; */
}

/* card */
.card-box {
  height: 300px;
  border-radius: 8px;
  padding: 20px 20px;
  background-color: rgba(126, 153, 163, 0.2);
  position: relative;
  overflow: hidden;
  
}

.effect-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: rgba(158, 207, 212, 0.4); 

  opacity: 0;
  transition: all 0.3s ease;
  transform: translateY(100%);
}

.card-box:hover .effect-over {
  opacity: 1;
  transform: translateY(0);
}

.button-cart{
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #174143;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  cursor: pointer;
}

.button-cart span{
 padding: 10px;
}

/* image */
.card-img {
  width: 140px;
  height: 140px;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* title */
.card-title {
  font-size: 25px;
  /* margin: 5px 0; */
  padding: 0 !important;
}

/* price */
.old-price {
  text-decoration: line-through;
  color: #888;
  margin: 0;
}

.new-price {
  font-weight: bold;
  color: #e53935;
  font-size: 22px;
}

/* wrapper */
.slider-wrapper {
  padding-bottom: 20px;
}

/* pagination BELOW swiper */
.slider-wrapper .swiper-pagination {
  position: static;  
  margin-top: 10px;   /* space below cards */

  width: 200px;
  height: 40px;
  /* background-color: red; */

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

  margin-left: auto;
  margin-right: auto; 
}

/* active bullet */
.swiper-pagination-bullet-active {
  background: #174143;  /* your main color */
}



