.seection-contact {
  max-width: 1400px;
  width: 100%;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-left: 8px solid #174143;
  padding: 60px 40px;
}

/* NEW wrapper */
.section-inner {
  padding: 40px;
}


/* LEFT */
.box-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-contact-title {
  font-size: 14px;
  font-weight: bold;
}

/* CENTER */
.carousel-wrapper {
  width: 100%;
  overflow: hidden;
}

.carousel-wrapper .slick-slide {
  padding: 0 15px; /* ផ្លាស់ប្តូរ 15px តាមចំនួនដែលចង់បាន */
}

.carousel-wrapper .slick-list {
  margin: 0 -15px; /* ត្រូវតែដូចគ្នានឹង padding ខាងលើ */
}

.detail-slide {
  position: relative;
  width: 100%;
  padding: 20px 30px;
  border-left: 2px solid #70B2B2;
  box-sizing: border-box;
}

/* TEXT */
h1 {
  font-size: 25px;
  padding: 15px 0;
}

.dis-customer {
  font-size: 18px;
  line-height: 1.5;
}

/* AVATAR */
.avatar-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.customer-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}

.customer-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* LOGO */
.style-logo {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.style-logo img {
  width: 80px;
}

/* BUTTONS */
.nav-buttons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  height: 100%;
}

.button-pre, .button-next {
  width: 35px;
  height: 35px;
  background: yellow;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-pre img, .button-next img {
  width: 50%;
}

/* RESPONSIVE */
@media (max-width: 768px) {

  .seection-contact {
    padding: 20px !important;
  }

  .detail-slide {
    padding: 15px;
  }

  h1 {
    font-size: 20px;
  }

  .dis-customer {
    font-size: 16px;
  }

  .customer-avatar {
    width: 35px;
    height: 35px;
  }

  .style-logo {
    right: 10px;
  }

  .nav-buttons {
    justify-content: center;
    margin-top: 10px;
  }
}